/******
 UTILITIES
 ******/

.text-center {
  text-align: center;
}

.d-none {
  display: none;
}

/******
 ALTERED SHARED STYLES
 ******/

.form-btn {
  width: 100%;
  min-height: 3rem;
}

.link--highlight {
  color: var(--blue-0);
}

/******
 COMPONENT STYLE
 ******/

:host {
  display: block;
  min-height: 100vh;
  padding: 4rem 0;
  background-color: var(--blue-1);
  @media (max-width: 417px) {
    padding: 0;
    background-color: #fff;
  }
}

.form-btn--social {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.icon--alert {
  --icon-size: 1.5rem
}

.icon--checkbox {
  --icon-size: 1.5rem;
  position: relative;
  left: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon--checkbox-blank {
  stroke: var(--gray-scale-1);
  fill: var(--gray-scale-1);
}

.icon--condition {
  --icon-size: 11px;
}

.message {
  display: flex;
  column-gap: 0.75rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--message-border-color, #000);
  background-color: var(--message-bg-color, transparent);
  color: #000;
  // icon-color setting;
}

.message--alert {
  --message-border-color: #D71920;
  --message-bg-color: #F5C4C6;
  // icon-color setting;
}

.mock-checkbox {
  position: relative;
  overflow: hidden;
  flex: 0 0 auto;
  &__body {
    position: absolute;
    left: -100%;
    display: block;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}

.password-veil {
  display: flex;
  fill: var(--gray-scale-1);
  &--unveiled {
    fill: var(--blue-0);
  }
}

.section {
  max-width: 37.5rem;
  padding: 1.5rem 1.875rem;
  margin: 0 auto;
  border-radius: 0.25rem;
  background-color: #fff;
  @media (max-width: 417px) {
    padding: 1.5rem 0.5rem;
  }
  &__header-navi {
    text-underline-offset: 0.25rem;
  }

  &__body {
    margin-top: 2rem;
    @media (max-width: 417px) {
      margin-top: 1.5rem;
    }
  }
}

.login-form {
  max-width: 25rem;
  border-radius: 0.25rem;
  margin: 0 auto;

  > * + * {
    margin-top: 25px;
  }

  &__subtitle {
    font-size: 1.125rem;
  }

  &__title {
    font-size: 1.875rem;
    margin-top: 0.5rem;
  }

  &__instruction {
    font-size: 0.875rem;
    display: flex;
    column-gap: 9px;
    align-items: center;

    &::after {
      content: "";
      flex: 1 1 auto;
      height: 1px;
      background-color: var(--gray-scale-0);
    }
  }

  &__condition-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.875rem;
    margin-top: 0.5rem;
  }

  &__condition {
    display: flex;
    column-gap: 0.25rem;
    font-size: 0.625rem;
    fill: var(--gray-scale-2);
    color: var(--gray-scale-2);
    &--satisfied {
      fill: #4AE7A5;
      color: var(--gray-scale-0);
    }
  }

  &__footer {
    color: var(--gray-scale-1);
    font-size: 13px;
  }

  &__policy-agreement{
    display: flex;
    column-gap: 1px;
    align-items: center;
  }
}
