<section class="section">
  <div class="section__header">
    <button class="link section__header-navi">←Back</button>
  </div>
  <div class="section__body">
    <form class="login-form">
      <div class="grid login-form__header">
        <div class="col-2">
          <span class="login-form__subtitle">Start from free</span>
          <h1 class="login-form__title">Create an account</h1>
        </div>
        <div class="col-2">
          <div class="message message--alert">
            <!-- insert icon here -->
            <span>Please complete all the required fields to proceed.</span>
          </div>
        </div>
        <div class="col-1">
          <button class="form-btn form-btn--outlined">Sign up with Google</button>
        </div>
        <div class="col-1">
          <button class="form-btn form-btn--outlined">Sign up with Facebook</button>
        </div>
        <div class="col-2">
          <span class="login-form__instruction">Or use your email for registration</span>
        </div>
      </div>
      <div class="grid">
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
      </div>
      <div class="grid login-form__footer">
        <div class="col-2">
          <div>
            <span>By creating account, you agree to accept our Privacy Policy, Terms of Service and Notification
              settings.</span>
          </div>
        </div>
        <div class="col-2"><button class="form-btn">Create a Free Account</button></div>
        <div class="col-2 text-center">
          <span>Already have an account? <a href="#" class="link">Log in</a></span>
        </div>
      </div>
    </form>
  </div>
</section>
